<div class="container">
  <div class="row">

  <%= render "layouts/sidebar" %>

    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Street to Weather results</h3>
        </div>
        <div class="panel-body">
          <p>Here's the outlook for <%= @street_address %>:</p>
          <dl>
            <dt>Current Temperature</dt>
            <dd><%= @current_temperature %></dd>

            <dt>Current Summary</dt>
            <dd><%= @current_summary %></dd>

            <dt>Outlook for next sixty minutes</dt>
            <dd><%= @summary_of_next_sixty_minutes %></dd>

            <dt>Outlook for next several hours</dt>
            <dd><%= @summary_of_next_several_hours %></dd>

            <dt>Outlook for next several days</dt>
            <dd><%= @summary_of_next_several_days %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
