<!DOCTYPE html>
<html>
<head>
  <title>Meteorologist</title>
  <%= javascript_include_tag 'application' %>

    <!-- Connect to Bootstrap CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Connect to Font Awesome CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- Connect to Bootstrap Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!-- Connect to Other Css from Assets folder -->
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body class="red-background">

  <%= render "layouts/navbar" %>

  <%= yield %>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDeWWmT-KYmsgSz9d2vCy0KcOmJe114y4&callback=initMap" async defer></script>
</body>
</html>
